<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NutriDish</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill nav-icon"></i> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <i class="bi bi-tags-fill nav-icon"></i> Catégories
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cuisine-types">
                <i class="bi bi-globe-europe-africa-fill"></i> Types de cuisine
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="units">
                <i class="bi bi-rulers nav-icon"></i> Unités
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingredients">
                <i class="bi bi-basket-fill nav-icon"></i> Ingrédients
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="recipes">
                <i class="bi bi-journal-richtext nav-icon"></i> Recettes
            </NavLink>
        </div>

    </nav>
</div>
